.btn-no {
    background-color: #F59E0B;
    border: none;
}
.btn-no:hover {
    background-color: #D97706;
    border: none;
}
.btn-yes {
    background-color: #22C55E;
    border:none;
}
.btn-yes:hover {
    background-color: #16A34A;
    border:none;
}
