:host ::ng-deep .p-card .p-card-footer {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
    padding: 0px 2px;
    border-radius: 0px;
    border: 0px solid;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 0;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0 1rem;
}

:host ::ng-deep .p-card .p-card-title {
    background: #3c4b64;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0px;
}

:host ::ng-deep .p-card {
    border-radius: 0;
}

.field {
    margin-bottom: .4rem;
}

.field > label {
    display: inline-block;
    margin-bottom: 0.2rem;
}
:host ::ng-deep .p-dropdown {
    width: 100%;
    padding: 3px 2px;
    border-radius: 0px;
}