@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";


/*************************** Primeng-p-datatable ***************************/

.p-datatable .p-datatable-header {
    padding: 0.5rem 1rem;
    background-color: #3c4b64;
    color: #ffffff;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 0.5rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 0.1rem 1rem;
}

/*************************** Primeng-p-paginator ***************************/

.p-paginator {
    padding: 0.1rem 1rem;
}

    .p-paginator .p-dropdown {
        border-radius: 0;
    }

/*************************** Primeng-p-button ***************************/

.p-button {
    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0px;
}

    .p-button.p-button-icon-only.p-button-rounded {
        border-radius: 50%;
        height: 2rem;
    }

    .p-button.p-button-icon-only {
        width: 2rem;
        padding: 0.75rem 0;
    }

.p-modal-save-btn {
    background: #22C55E !important;
    color: #ffffff !important;
    padding-top: 5px !important;
}

/*************************** Primeng-p-dropdown ***************************/

.p-dropdown .p-dropdown-trigger {
    width: 2rem;
    border-radius: 0px;
}

/*************************** Primeng-p-dialog css ***************************/

.p-dialog .p-dialog-header {
    background: #3c4b64;
    color: #ffffff;
    padding: .5rem;
    border-radius: 0px;
}

.p-dialog .p-dialog-footer {
    background: #EBEDEF;    
    border-radius: 0px;
    padding-top: 0.7rem;
    padding-right: 1rem;
    padding-bottom: 3px;
}

p-dialog .p-dialog-header {
    background-color: #3c4b64;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0px;
    font-weight: 500;
    line-height: 1.2;
}

.p-confirm-dialog .p-dialog-content {
    padding:16px;
}

/*************************** Primeng-p-input ***************************/
input, textarea {
    width: 100%;
}

/*************************** Primeng-p-confirm-dialog ***************************/

.btn-no {
    background-color: #F59E0B;
    border: none;
}

    .btn-no:hover {
        background-color: #D97706 !important;
        border: none;
    }

.btn-yes {
    background-color: #22C55E;
    border: none;
}

    .btn-yes:hover {
        background-color: #16A34A !important;
        border: none;
    }