@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";


/*************************** Primeng-p-datatable ***************************/

.p-datatable .p-datatable-header {
    padding: 0.5rem 1rem;
    background-color: #3c4b64;
    color:#ffffff;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 0.5rem 1rem;    
}

.p-datatable .p-datatable-tbody > tr > td {    
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 0.3rem 1rem;    
}

/*************************** Primeng-p-paginator ***************************/

.p-paginator {    
    padding: 0.2rem 1rem;    
}

/*************************** Primeng-p-button ***************************/

.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;    
    height: 2rem;
}

.p-button.p-button-icon-only {
    width: 2rem;
    padding: 0.75rem 0;
}
