<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
    <c-sidebar-brand [brandFull]="{src: 'https://universalmedicalrecord.com/assets/images/urmtest-logo.png', width: 200, height: 46, alt: 'UMR Logo'}"
                     [brandNarrow]="{src: 'assets/icon/favicon.ico',width: 46, height: 46,alt: 'UMR Logo' }"
                     routerLink="./" style="background:white" />

    <ng-scrollbar pointerEventsMethod="scrollbar">
        <c-sidebar-nav [navItems]="navItems" dropdownMode="close" />
    </ng-scrollbar>
    <c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar" />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
    <!--app-header-->
    <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
    <!--app-body-->
    <div class="body flex-grow-1 px-3">
        <router-outlet />
    </div>
    <!--app footer-->
    <app-default-footer />
</div>
<a href="#" class="float">
    <i class="pi pi-spin pi-cog"></i>
</a>
<ul>
    <li>
        <a href="#" pTooltip="Add Applicant">
            <i class="pi pi-user-plus"></i>
        </a>
    </li>
    <li>
        <a href="#" pTooltip="Edit Last Worked on Applicant">
            <i class="pi pi-user-edit"></i>
        </a>
    </li>
    <li>
        <a href="#" pTooltip="Add Institution">
            <i class="pi pi-plus-circle"></i>
        </a>
    </li>
    <li>
        <a href="#" pTooltip="Send Email">
            <i class="pi pi-envelope"></i>
        </a>
    </li>
    <li>
        <a href="#" pTooltip="Import Applicant">
            <i class="pi pi-upload"></i>
        </a>
    </li>
</ul>