<p-table [value]="emailTypes"
         dataKey="id"
         [paginator]="true"
         [rows]="10"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [tableStyle]="{ 'min-width': '50rem' }"
         [rowHover]="true"
         [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5>Email Type Information</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Email Type</th>
            <th>Is Personal</th>
            <th>Is Official</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emailType>
        <tr>
            <td>{{ emailType.type }}</td>
            <td>{{ emailType.isPersonal === 'true' ? 'Yes' : 'No' }}</td>
            <td>{{ emailType.isOfficial === 'true' ? 'Yes' : 'No' }}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>