:host ::ng-deep .p-password {
    width: 100%;
    padding: 3px 2px;
    border-radius: 0px;
    border: 1px solid;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
    padding: 0px 2px;
    border-radius: 0px;
    border: 0px solid;
}
:host ::ng-deep .p-inputtext:focus {
    box-shadow: none;
}

:host ::ng-deep .p-card .p-card-footer {
    text-align: right;
}
:host ::ng-deep .p-card .p-card-content {
    padding: 0;
}
:host ::ng-deep .p-card{
    border-radius:0;
}