<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p-card header="Change Password">
            <div class="field">
                <label for="oldPassword">Old Password</label>
                <p-password id="oldPassword" maxlength="50"  [feedback]="false" [toggleMask]="true"></p-password>
            </div>
            <div class="field">
                <label for="newPassword">New Password</label>
                <p-password id="newPassword" maxlength="50"  [feedback]="false" [toggleMask]="true"></p-password>
            </div>
            <div class="field">
                <label for="confirmPassword">Confirm Password</label>
                <p-password id="confirmPassword" maxlength="50"  [feedback]="false" [toggleMask]="true"></p-password>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Clear" icon="pi pi-times" class="p-button-text" (click)="onClearClick()"></button>
                <button pButton pRipple label="Change Password" icon="pi pi-check" class="p-button-text p-button-success p-modal-save-btn" [style]="{ 'margin-left': '.5em' }" (click)="onChangeClick()"></button>
            </ng-template>
        </p-card>

    </div>

    <div class="col-md-4"></div>
</div>