
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: .5rem;
    border: 1px solid #dee2e6;
    color: #6c757d;
    background: #f8f9fa;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

:host ::ng-deep .p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: 8px;
}