<div class="grid">
    <div class="col-12">
        <button pButton pRipple icon="pi pi-plus" label="Add New" class="p-button-success" (click)="addContactInfo()" style="margin:0 4px 0 0"></button>
        <button pButton pRipple icon="pi pi-user-edit" label="Edit Work Information" class="p-button-secondary" (click)="addContactInfo()" style="margin:0 4px"></button>
        <button pButton pRipple icon="pi pi-align-justify" label="Contact Details" class="p-button-info" (click)="addContactInfo()" style="margin:0 4px"></button>
        <button pButton pRipple icon="pi pi-history" label="Contact History" class="p-button-warning" (click)="addContactInfo()" style="margin:0 4px"></button>
    </div>
</div>
<p-table [value]="contactInformations"
         dataKey="id"
         [paginator]="true"
         [rows]="10"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [tableStyle]="{ 'min-width': '50rem' }"
         [rowHover]="true"
         [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 style="text-align:center">Contact Information</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Institution Name</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contactInfo>
        <tr>
            <td>{{ contactInfo.name }}</td>
            <td>{{ contactInfo.address }}</td>
            <td>{{ contactInfo.email}}</td>
            <td>{{ contactInfo.institutionName}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editContactInfo(contactInfo)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContactInfo(contactInfo)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="contactInfoDialog" [style]="{ width: '450px' }" header="{{addEditTxt}} Contact Information" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <!--<div class="field">
            <label for="agencyName">Institution Type</label>
            <input type="text" pInputText id="agencyName" [(ngModel)]="institutionType.agencyName" required autofocus maxlength="100" />
            <small class="p-error" *ngIf="submitted && !institutionType.agencyName">Agency Name is required.</small>
        </div>
        <div class="field">
            <label for="urlPrefix">Abbreviation</label>
            <input pInputText [(ngModel)]="institutionType.urlPrefix" [pKeyFilter]="'alpha'" id="urlPrefix" maxlength="50" />
        </div>-->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideAddEditDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContactInfo()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>