<div class="grid">
    <div class="col-12">
        <button pButton pRipple label="Add New" class="p-button-success" (click)="openNewUser()"></button>
    </div>
</div>
<p-table [value]="users"
         [rows]="10"
         [paginator]="true"
         [tableStyle]="{ 'min-width': '75rem' }"
         [rowHover]="true"
         dataKey="userId"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 style="width:300px">Manage Recruiter</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Login Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Agency Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.loginId }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.agencyId }}</td>
            <td>
                <input type="checkbox" name="group" [checked]="user.isActive" (change)="changeStatus(user.userId,user.isActive)">
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="{{addEditTxt}} User" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="loginId">Login Id</label>
            <input type="text" pInputText id="loginId" [(ngModel)]="user.loginId" required autofocus maxlength="100" />
            <small class="p-error" *ngIf="submitted && !user.loginId">Login id required.</small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input pInputText [(ngModel)]="user.urlPrefix" [pKeyFilter]="'alpha'" id="password" maxlength="50" />
        </div>
        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="text" pInputText id="confirmPassword" [(ngModel)]="user.password" maxlength="100" />
        </div>
        <div class="field">
            <label for="firstName">First Name</label>
            <p-inputMask mask="(999) 999-9999" id="firstName" [(ngModel)]="user.firstName" placeholder="(999) 999-9999" />
        </div>
        <div class="field">
            <label for="lastName">Last Name</label>
            <textarea pInputTextarea id="lastName" [(ngModel)]="user.lastName" maxlength="200" [autoResize]="true"></textarea>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [(ngModel)]="user.email" />
        </div>
        <div class="field">
            <label for="telephone">Telephone</label>
            <p-inputMask mask="(999) 999-9999" id="telephone" [(ngModel)]="user.telephone" placeholder="(999) 999-9999" />
        </div>
        <div class="field">
            <label for="agency">Agency</label>
            <textarea pInputTextarea id="agency" [(ngModel)]="user.agencyId" maxlength="200" [autoResize]="true"></textarea>
        </div>
        <div class="field">
            <label for="timeOut">Time Out</label>
            <textarea pInputTextarea id="timeOut" [(ngModel)]="user.timeOut" maxlength="200" [autoResize]="true"></textarea>
        </div>
        <div class="field">
            <label for="applicantType">Default Applicant Type</label>
            <textarea pInputTextarea id="applicantType" [(ngModel)]="user.ApplicantTypeId" maxlength="200" [autoResize]="true"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success p-modal-save-btn" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>