<div class="grid">
    <div class="col-12">
        <button pButton pRipple label="Add New" class="p-button-success" (click)="openNewUser()"></button>
    </div>
</div>
<p-accordion (onClose)="onCloseAccordion()" (onOpen)="onOpenAccordion()">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <span class="vertical-align-middle">{{showHideOpt}} Search options</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="field col-md-2">
                    <label for="applicantName">First Name</label>
                    <input type="text" pInputText id="applicantName" [(ngModel)]="firstName" maxlength="100" />
                </div>
                <div class="field col-md-2">
                    <label for="designation">Last Name</label>
                    <input pInputText id="designation" maxlength="50" [(ngModel)]="lastName" />
                </div>
                <div class="field col-md-2">
                    <label for="address">Email</label>
                    <input type="text" pInputText id="address" maxlength="100" [(ngModel)]="email" />
                </div>
                <div class="field col-md-3">
                    <label for="email">Status</label>
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton value="All" [(ngModel)]="status" inputId="all"></p-radioButton>
                            <label for="all" class="ml-2">All</label>
                        </div>

                        <div class="flex align-items-center">
                            <p-radioButton value="Active" [(ngModel)]="status" inputId="active"></p-radioButton>
                            <label for="active" class="ml-2">Active</label>
                        </div>

                        <div class="flex align-items-center">
                            <p-radioButton value="InActive" [(ngModel)]="status" inputId="inActive"></p-radioButton>
                            <label for="inActive" class="ml-2">In Active</label>
                        </div>
                    </div>
                </div>
                <div class="field col-md-2" style="margin-top:24px">
                    <button pButton pRipple label="Clear" icon="pi pi-times" class="p-button-text" style="margin-right:8px" (click)="onClearClick()"></button>
                    <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-text p-button-success p-modal-save-btn" (click)="onSearchClick()"></button>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>
<p-table [value]="users"
         [rows]="15"
         [paginator]="true"
         [tableStyle]="{ 'min-width': '75rem' }"
         [rowHover]="true"
         dataKey="userId"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [showCurrentPageReport]="true"
         selectionMode="single"
         [rowsPerPageOptions]="[15, 30, 50]">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 style="width:300px">Manage Recruiter</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Login Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Agency Name</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.loginId }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.agencyName }}</td>
            <td>{{ user.isActive }}</td>
            <!--<td>
                <input type="checkbox" name="group" [checked]="user.isActive" (change)="changeStatus(user.userId,user.isActive)">
            </td>-->
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="userDialog" [style]="{ width: '550px' }" header="{{addEditTxt}} User" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-md-6">
                <div class="field">
                    <label for="loginId">Login Id</label>
                    <input type="text" pInputText id="loginId" [(ngModel)]="user.loginId" required autofocus maxlength="100" [disabled]="user.userId" />
                    <small class="p-error" *ngIf="submitted && !user.loginId">Login id required.</small>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <p-password id="password" [(ngModel)]="user.password" maxlength="50"></p-password>
                </div>
                <div class="field">
                    <label for="confirmPassword">Confirm Password</label>
                    <p-password id="confirmPassword" [(ngModel)]="user.password" maxlength="100"></p-password>
                </div>
                <div class="field">
                    <label for="firstName">First Name</label>
                    <input pInputText id="firstName" [(ngModel)]="user.firstName" />
                </div>
                <div class="field">
                    <label for="lastName">Last Name</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="user.lastName" maxlength="200" />
                </div>
                <div class="field" *ngIf="user.userId">
                    <p-checkbox inputId="active" [(ngModel)]="user.isActive" value="user.isActive" [binary]="true"></p-checkbox>
                    <label for="active" class="chk-lbl">Active</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="user.email" />
                </div>
                <div class="field">
                    <label for="telephone">Telephone</label>
                    <p-inputMask mask="(999) 999-9999" id="telephone" [(ngModel)]="user.telephone" placeholder="(999) 999-9999" />
                </div>
                <div class="field">
                    <label for="agency">Agency</label>
                    <p-dropdown [options]="agencys" [(ngModel)]="user.agencyId" optionLabel="agencyName" placeholder="Select a Agency" optionValue="agencyId"></p-dropdown>
                </div>
                <div class="field">
                    <label for="timeOut">Time Out</label>
                    <input type="text" pInputText id="timeOut" [(ngModel)]="user.timeOut" maxlength="8" value="144000" />
                </div>
                <div class="field">
                    <label for="applicantType">Default Applicant Type</label>
                    <p-dropdown [options]="appTypes" [(ngModel)]="user.applicantTypeId" optionLabel="name" placeholder="Select a Applicant Type" optionValue="applicantTypeId"></p-dropdown>
                </div>
                <div class="field" *ngIf="user.userId">
                    <p-checkbox inputId="isSpecial" [(ngModel)]="user.odapermission" value="user.odapermission" [binary]="true"></p-checkbox>
                    <label for="isSpecial" class="chk-lbl">Special Permission</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success p-modal-save-btn" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<loading [is-loading]="isLoading"></loading>