/*@import url('../../assets/css/fontawesome.css');
@import url('../../assets/css/templatemo-woox-travel.css');*/

.login {
  padding-top: 200px;
  text-align:center;
  font-size:30px;
}

a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}
