<div class="grid">
    <div class="col-12">
        <button pButton pRipple label="Add New" class="p-button-success" (click)="onAdd()"></button>
    </div>
</div>
<p-table [value]="upperCaseWords"
         dataKey="id"
         [paginator]="true"
         [rows]="10"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [tableStyle]="{ 'min-width': '50rem' }"
         [rowHover]="true"
         [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 style="text-align:center">Upper Case Word</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Word</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-upperCaseWord>
        <tr>
            <td>{{ upperCaseWord.word }}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(upperCaseWord)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(upperCaseWord)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="visibleDialog" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold p-panel-header">Add Edit Upper Case Word</span>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="formGroup">
            <div class="grid">
                <div class="col-12">
                    <label for="word" class="font-bold block mb-2 mt-2">Word</label>
                    <input type="text" pInputText id="word" formControlName="word" required maxlength="256" autofocus />
                    <small class="p-error" *ngIf="f['word'].errors">Word is required.</small>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer" class="p-panel-header">
        <div class="grid">
            <div class="col-12">
                <button pButton pRipple label="Cancel" class="p-button-info" (click)="onCancel()"></button>
                <button pButton pRipple label="Clear" class="p-button-secondary" (click)="onClear()"></button>
                <button pButton pRipple label="Save" class="p-button-success" (click)="onSave()"></button>
            </div>
        </div>
    </ng-template>

</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>