
<p-toast></p-toast>

<p-table #dt
         [value]="agencys"
         [rows]="10"
         [paginator]="true"
         [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
         [tableStyle]="{ 'min-width': '75rem' }"
         [(selection)]="selectedProducts"
         [rowHover]="true"
         dataKey="id"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Agency Information</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">Agency Name</th>
            <th>Agency URL Prefix</th>
            <th>Agency Email</th>
            <th>Agency Phone</th>
            <th>Agency Contact Person</th>
            <th>Agency Contact Person Phone</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-agency>
        <tr>
            <td>{{ agency.agencyName }}</td>
            <td>{{ agency.urlPrefix }}</td>
            <td>{{ agency.agencyEmail }}</td>
            <td>{{ agency.agencyPhone }}</td>
            <td>{{ agency.agencyContactPerson }}</td>
            <td>{{ agency.agencyContactPersonPhone }}</td>
            <td>
                <p-tableCheckbox [value]="agency.isActive"></p-tableCheckbox>{{agency.isActive}}
                
            </td>
            <td>
                <button pButton pRipple icon="cil-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(agency)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(agency)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>