:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

:host ::ng-deep .pi {
    font-size: 0.8rem;
}

.p-unselectable-text {
    user-select: none !important;
}

.add-new-btn {
    float: left;
    margin-right: 8px;
    background: #22C55E;
    color: white;
    border: none;
    padding: 4px 16px;
    border-radius: 4px;
}

    .add-new-btn:hover {
        background-color: #218838;
    }

.field {
    margin-bottom: 1rem;
    display: grid;
}

    .field > label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

:host ::ng-deep .p-inputtext {
    width: 100%;
    padding: 3px 2px;
    border-radius: 0px;
    border: 1px solid;
}

    :host ::ng-deep .p-inputtext:focus {
        box-shadow: none;
        border-color: black;
    }

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-paginator .p-paginator-next {
    min-width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-paginator .p-paginator-last {
    min-width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-paginator .p-paginator-first {
    min-width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-paginator .p-paginator-prev {
    min-width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-paginator .p-dropdown {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 2rem !important;
}